.t
{
	font-size:30px;
	font-style:italic;
	width:1358px;
	background:#CCDDDD;
	float:left;
}
.ff
{
	float:left;
}

.dd
{
	background:#33EE00;
	line-height:23px;
	font-size:20px;
	width:400px
}
.g
{
	font-size:20px;
	float:right;
	margin-right:50px;
}
.j
{
	color:#660077;
	font-weight:bold;
	border-right:2px;
	border-right-style:solid;
	border-color:#000;
	font-size:27px;

}
.l
{
	margin-right:40px;
}
.lll
{
	margin-left:40px;
	
}
.sd
{
	line-height:23px;
}
.hg
{
	width:80px;
	height:20px
}
.fo
{
	font-size:13px;
	margin-left:50px;
	float:left;
}
.bo
{
	margin-left:70px;
	
}
.ffff
{
	float:left;
	margin-left:40px;
	font-weight:bold;
	line-height:3px;
	font-size:18px;
}
.fd
{
	font-size:20px;
	font-weight:bold;
}
.nm{
	background:#665577;
}
.a
{
	background:#665577;
	color:#FFF;
	font-size:30px;
	margin-left:10px;
	text-decoration:none;
	border-right-style:solid;
	border-right-width:1px;
	
	
}
a:hover
{
background:#990033;	
}
.in
{
	width:300px;
}
.sp
{
	
	margin-left:130px;
	background:#000;
	font-size:25px;
	color:#FFF;
	border: 2px solid #000;
    border-radius: 10px;
	
}
.aa
{
	color:#336600;
}
.sel
{
	margin-left:100px;
	font-weight:bold;
}
.gr
{
	color:#BA55D3;
	margin-left:60px;
	font-weight:bold;
}
.gr2
{
	color:#33DD00;
	font-weight:bold;
}
.jj
{
	position:relative;
	height:280px;
}
.kj
{
	position:absolute;
	left:0px;
}
.lk
{
	position:absolute;
	top:375px;
	left:180px;
}
.ghg
{
	font-size:30px;
}
.sh
{
	text-decoration:line-through;
	color:#BBB;
	font-size:20px;
}
.shh
{
	font-size:30px;
	color:#9900AA;

}
.las
{
	
	background:#9900AA;
	font-size:25px;
	margin-left:10px;
	
}
.fdf
{
	color:#FFF;
	text-decoration:none;
}
.mm
{
	width:200px;
	margin-left:90px;
}
.kk
{
	height:260px;
	width:280px;
	margin-left:40px;
	float:left;
}
.re
{
	float:left;
	margin-left:40px;
	width:280px;
	height:90px;
}
.di
{
	background:#9900AA;	
	font-size:30px;
}
.n7
{
	font-size:50px;
}
.all
{
	color:#CCC;
}
.rdr
{
	color:#CC0044;
	font-weight:bold;
	margin-left:140px;
}
.s11
{
	margin-left:90px;
	font-weight:bold;
}
.imgw
{
	position:relative;
	width:300px;
}
.dfg
{
	position:absolute;
	top:760px;
	left:220px;
}
.lass
{
	
	background:#33DD33;
	font-size:25px;
	margin-left:20px;
	
}
.free
{
	margin-left:20px;
	color:#DDD;
}
.s21
{
	margin-left:200px;
	font-weight:bold;
}
.s31
{
	margin-left:220px;
	font-weight:bold;
}
.s41
{
	margin-left:200px;
	font-weight:bold;
}

.lklk
{
	margin-left:0px;
}
.s211
{
	margin-left:35px;
}
.s311
{
	margin-left:55px;
}
.s411
{
	margin-left:30px;
}

.kjjk
{
	position:absolute;
	left:310px;
}
.dfgg
{
	position:absolute;
	top:760px;
	left:530px;
}

.kjjjk
{
	position:absolute;
	left:620px;
}
.dfhgg
{
	position:absolute;
	top:760px;
	left:830px;
}

.kjjjkk
{
	position:absolute;
	left:930px;
}
.ddfhgg
{
	position:absolute;
	top:760px;
	left:1100px;
}
.s1
{
	float:left;
}
.s11a
{
	margin-left:90px;
	
}
.s21a
{
	margin-left:160px;
	
}
.s31a
{
	margin-left:220px;
	
}
.s41a
{
	margin-left:230px;
	
}

.s11aa
{
	margin-left:20px;
	
}
.s21aa
{
	margin-left:120px;
	
}
.s31aa
{
	margin-left:150px;
	
}
.s41aa
{
	margin-left:170px;
	
}
.fdfff
{
	
}
.s11b
{
	margin-left:90px;
	background:#33BB44;
}
.s21b
{
	margin-left:200px;
	background:#33BB44;
}
.s31b
{
	margin-left:240px;
	background:#33BB44;
}
.s41b
{
	margin-left:270px;
	background:#33BB44;
}
.s11c
{
	margin-left:70px;
	color:#CCC;
}
.s21c
{
	margin-left:155px;
	color:#CCC;
}
.s31c
{
	margin-left:200px;
	color:#CCC;
}
.s41c
{
	margin-left:230px;
	color:#CCC;
}
.difr
{
	font-weight:bold;
	color:#FF8800;
}
.i1
{
	width:430px;
}
.q1
{
margin-left:150px;	
font-size:20px;
}
.q2
{
	margin-left:370px;	
	font-size:20px;
}
.q3
{
	margin-left:350px;	
	font-size:20px;
}

.q1a
{
margin-left:0px;	
color:#CCC;

}
.q2a
{
	margin-left:100px;	
	color:#CCC;
	
}
.q3a
{
	margin-left:120px;	
	color:#CCC;
}


.q1ab
{
margin-left:150px;	
color:#CCC;
}
.q2ab
{
	margin-left:370px;	
	color:#CCC;
}
.q3ab
{
	margin-left:350px;	
	color:#CCC;
}


.q1aba
{
margin-left:160px;	
color:#661155;
font-weight:bold;
	font-size:25px;
}
.q2aba
{
	margin-left:390px;	
	color:#661155;
	font-weight:bold;
	font-size:25px;
}
.q3aba
{
	margin-left:410px;	
	color:#661155;
	font-weight:bold;
	font-size:25px;
}


.q1abab
{
margin-left:160px;	
background:#33BB44;
}
.q2abab
{
	margin-left:390px;	
background:#33BB44;
}
.q3abab
{
	margin-left:410px;	
	background:#33BB44;
}